.box {
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.wrapper {
    border: 1px rgb(102, 51, 153); /* rgb, rebeccapurple padding: 10; */
    flex-direction: row;
    column-gap: 10px;
    padding: 10px;
}
